.nav-item .nav-link{
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    
}
.navbar-nav{
    
    text-align: center;
    border-style: solid;
    background-color: white;
}
.collapse .navbar-collapse div{
    background-color: aliceblue;
}

#l1{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    color: black;
}
#l2{
    border-bottom: 1px solid black;
    color: black;
}
#l3{
    color: black;
}

#head {
    text-align: center;
}
.small_head {
    font-weight: bold;
    text-align: center;
}
.box
{
    border:2px solid black;
    height: 100%;
    width:97%;
    padding-left:10px;
    background-color: rgb(206, 197, 197);
    overflow:hidden;
    margin: 13px;
}
@media only screen and (min-width: 992px){
    .navbar-nav{
        display: none;
    }
}
